<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="ClinicDb"
			 connectionString="Server=DESKTOP-AG5CQP2\MSSQLSERVER2;Database=QuanLyPhongKham;User Id=sa;Password=123;TrustServerCertificate=True;"
			 providerName="Microsoft.Data.SqlClient" />
	</connectionStrings>

	<appSettings>
		<!-- ===== Cấu hình gửi email ===== -->
		<add key="SmtpHost" value="smtp.gmail.com" />
		<add key="SmtpPort" value="587" />
		<add key="SmtpEnableSsl" value="true" />
		<add key="SmtpUser" value="ducbinh.clinic@gmail.com" />
		<add key="SmtpPass" value="vnnnxckeubjlolqv" />
		<add key="SmtpFrom" value="Phòng khám Đa khoa &lt;phongkham.demo@gmail.com&gt;" />
	</appSettings>
</configuration>
